.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.coverage.*
htmlcov/
dist/
*.egg-info/
build/
src/wavekit/**/*.so
src/wavekit/**/*.cpp
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.trae/
.hypothesis/

example/**/*.vcd
example/**/*.vvp

.vscode/
